@font-face {
  font-family: FontAwesome;
  src: url("chrome-extension://ahimpelckfoepolnblpndbmdplemnikl/fonts/FontAwesome.otf");
}

.file-list,
.file-list ul {
  list-style-type: none;
  font-size: 1em;
  line-height: 1.8em;
  margin-left: 0px;
  padding-left: 18px;
  border-left: 1px dotted #aaa;
}

.file-list li {
  position: relative;
  padding-left: 25px;
}

.file-list li a {
  text-decoration: none;
  color: #444;
}

.file-list li a:before {
  display: block;
  content: " ";
  width: 10px;
  height: 1px;
  position: absolute;
  border-bottom: 1px dotted #aaa;
  top: 0.6em;
  left: -14px;
}

.file-list li:before {
  list-style-type: none;
  font-family: FontAwesome;
  display: block;
  content: "\f0f6";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  font-size: 1.3em;
  color: #555;
}

.file-list .folder-root {
  list-style-type: none;
}

.file-list .folder-root a {
  text-decoration: none;
  display: inline-block;
  flex-direction: row;
}

.file-list .folder-root:before {
  color: #6bbcfa;
  content: "\f07b";
}

.file-list .folder-root.open:before {
  content: "\f07c";
}

li.folder-root ul {
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

li.folder-root.closed > ul {
  opacity: 0;
  max-height: 0px;
}

li.folder-root.open > ul {
  opacity: 1;
  display: block;
  max-height: 1000px;
}

#loading {
  background-image: url("chrome-extension://ahimpelckfoepolnblpndbmdplemnikl/images/loader16.gif");
  display: block;
  background-size: 10px 10px;
  height: 10px;
  width: 10px;
  float: right;
  margin-top: 5px;
  margin-left: 5px;
}

.boxed .signInButton {
  position: relative;
  top: 5px;
  background-color: white;
  color: black;
  width: 250px;
  border: 1px solid #4caf50;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  transition-duration: 0.4s;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 3px 3px 3px #888888;
}

.boxed .signInButton:hover {
  background-color: #4caf50; /* Green */
  color: white;
}

.boxed {
  min-width: 450px;
  border: 1px #1fa65d;
  padding: 4px;
  margin: 1px;
  background-color: #faf7d9;
}

.boxed.wrapper {
  text-align: center;
}

@keyframes loader {
  from {
    display: "block";
  }
  to {
    display: "none";
  }
}

.boxed .remove_loader {
  animation-name: loader;
  animation-duration: 2s;
}

.boxed .pushButton {
  position: relative;
  background-color: white;
  color: black;
  border: 1px solid #4caf50;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  transition-duration: 0.4s;
  border-radius: 4px;
  width: 150px;
  margin: 0 20px;
  display: inline-block;
  cursor: pointer;
  box-shadow: 3px 3px 3px #888888;
}

.boxed .pushButton:hover {
  background-color: #4caf50; /* Green */
  color: white;
}

.boxed .row {
  text-align: center;
}

.boxed input[type="text"] {
  width: 90%;
  padding: 12px 20px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 1px solid #4caf50;
  border-radius: 4px;
  font-size: 12px;
}

.boxed p {
  color: green;
  text-transform: uppercase;
  text-align: left;
}

.boxed .select_repos {
  margin-left: -20px;
  margin-right: -20px;
}

.boxed .repo_label {
  text-align: left;
  margin: 10px;
  margin-left: 27px;
}

.boxed .tree_structure {
  margin: 25px;
  margin-left: 5px;
}
